---
import Layout from "../layouts/Layout.astro"

const pageTitle = "Sobre mi";
const identity = {
  firstName: "Yeferson",
  country: "Colombia",
  occupation: "Estudiante de Ingeniería de Sistemas",
  hobbies: [ "Emprendedor", "Programdor", "Inversor"],
};

const skills = ["HTML", "CSS", "JavaScript", "Angular.js", "Astro", "Redacción de documentos"];

const happy = true;
const finished = true;
let goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Layout title={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
        <li class="skill">Me llamo {identity.firstName}.</li>
        <li class=skill">Vivo en {identity.country} y mi ocupación es: {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li class="skill">Dos de mis aficiones son: {identity.hobbies[0]} e {identity.hobbies[2]}</li>
        }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>¡Estoy feliz de aprender Astro y conte FrameWork puede hacer hacer te sitio web!</p>}

    {finished && <p>¡He terminado lo más basico de mi blog y esta pagina ira creciendo durante todo este tiempo!</p>}

    {goal == 5 ? <p>Mi objetivo es terminar en 5 días este proyecto que es el blog.</p> : <p>Mi objetivo debí extenderlo.</p>}
</Layout>
<style define:vars={{skillColor, fontWeight, textCase}} >
    h1 {
      color: #be4710;
      font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: bold;
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>