---
import Layout from "../layouts/Layout.astro"
import '../styles/global.css';

const pageTitle = "Sobre mi";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Escritor técnico",
  hobbies: ["fotografia", "observación de aves", "peñarol"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Layout title={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
        <li class="skill">Me llamo {identity.firstName}.</li>
        <li class=skill">Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li class="skill">Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
        }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
</Layout>
<style define:vars={{skillColor, fontWeight, textCase}} >
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: bold;
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>